[mode]
fit = False
infer = True

[dataset]
image_paths_dataframe = "/N/project/retinal_images/scripts/retinaradar/retinaradar/labels/source_image_paths.csv"
image_labels_dataframe = "/N/project/retinal_images/scripts/retinaradar/retinaradar/labels/merged_labels.csv"

[fitting]


[tl]

[tl.model]
name = "efficientnet_b0"

[tl.fit]
[tl.fit.ratio]
train = 0.8
val = 0.1

[tl.fit.hyperparameters]
seed  = 42
batch_size = 64
max_epochs = 15
lr = 1e-4



[inference]
run_directory = "/N/project/retinal_images/scripts/retinaradar/retinaradar/output/runs/run_48UxPSqZUHVS6s2HJS5mx6-2025-11-06_192627/"
checkpoint = "last"
device = "auto"
threshold = 0.5
batch_size = 32

[inference.input]
single_image = "/N/project/retinal_images/datasets/fives/train/Original/100_A.png"
batch_images = ""
directory = ""
extensions = [".jpg", ".jpeg", ".png", ".bmp"]


[inference.output]
json_file = "predictions.json"
csv_file = "predictions.csv"
print_summary = True
save_text_summaries = False
text_summary_dir = "prediction_summaries"
